@(presentation: Presentation)
<div class="modal hide" id="editPresentationModal@presentation.id">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Edit presentation</h3>
    </div>
    @helper.form(routes.Forms.editPresentation, 'class -> "form", 'style -> "margin-bottom: 0px") {
        <div class="modal-body">
            <div class="controls controls-row">
                <label class="span10" for="name">Name</label>
                <label class="span2" for="rank">Rank</label>
            </div>
            <div class="controls controls-row">
                <input type="text" class="span10" id="name" name="name" required autofocus value="@presentation.name"/>
                <input type="number" class="span2" id="rank" name="rank" min="1" max="1000" required placeholder="e.q. 1" value="@presentation.rank"/>
            </div>
            <div class="controls controls-row">
                <label class="span8" for="presenters">Presenters</label>
                <label class="span4" for="businessUnit">Business unit</label>
            </div>
            <div class="controls controls-row">
                <input type="text" class="span8" id="presenters" name="presenters" required value="@presentation.presenter"/>
                <div class="span4">
                    <select name="businessUnit" id="businessUnit" style="width: 100%" required value="@presentation.businessUnit">
                        <option id="AD&amp;M">AD&amp;M</option>
                        <option @{if(presentation.businessUnit.equals("B-Tech")) "selected"} id="B-Tech">B-Tech</option>
                        <option @{if(presentation.businessUnit.equals("BIM")) "selected"} id="BIM">BIM</option>
                        <option @{if(presentation.businessUnit.equals("Bergen")) "selected"} id="Bergen">Bergen</option>
                        <option @{if(presentation.businessUnit.equals("Fredrikstad")) "selected"} id="Fredrikstad">Fredrikstad</option>
                        <option @{if(presentation.businessUnit.equals("Stavanger")) "selected"} id="Stavanger">Stavanger</option>
                        <option @{if(presentation.businessUnit.equals("Trondheim")) "selected"} id="Trondheim">Trondheim</option>
                    </select>
                </div>
            </div>
            <div class="controls controls-row">
                <label class="span12" for="abstract">Abstract</label>
            </div>
            <div class="controls controls-row">
                <textarea class="span12" rows="10" id="abstract" name="abstract" required>@presentation.description</textarea>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn"> <i class="icon-remove icon-black"></i> Cancel</a>
            <button type="submit" class="btn btn-success"> <i class="icon-check icon-white"></i> Save changes</button>
        </div>
        <input type="text" value="@presentation.id" style="display: none" name="presentationId" />
    }
</div>