@(slot: Slot, track: Track)
<div class="modal hide" id='newPresentationModal@track.id@slot.id'>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>New presentation</h3>
    </div>
    @helper.form(routes.Forms.savePresentation, 'class -> "form", 'style -> "margin-bottom: 0px") {
        <div class="modal-body">
            <div class="row-fluid">
                <label class="span10" for="name">Name</label>
                <label class="span2" for="rank">Rank</label>
            </div>
            <div class="row-fluid">
                <input type="text" class="span10" name="name" id="name" autofocus required>
                <input type="number" class="span2" name="rank" id="rank" min="1" max="1000" required placeholder="e.q. 1" />
            </div>
            <div class="row-fluid">
                <label class="span4" for="businessUnit">Business unit</label>
                <label class="span7" for="presenter">Presenters</label>
            </div>
            <div class="row-fluid controls">
                <input type="text" class="span7" name="presenter" id="presenter" required />
                <div class="span4">
                    <select name="businessUnit" id="businessUnit" style="width: 100%" required>
                        <option>AD&amp;M</option>
                        <option>B-Tech</option>
                        <option>BIM</option>
                        <option>Bergen</option>
                        <option>Fredrikstad</option>
                        <option>Stavanger</option>
                        <option>Trondheim</option>
                        <option>Sogeti</option>
                        <option>BIM/B-Tech</option>
                        <option>Annet</option>
                    </select>
                </div>
            </div>
            <div class="row-fluid">
                <label class="span12" for="abstract">Abstract</label>
            </div>
            <div class="row-fluid">
                <textarea class="span12" rows="10" name="description" id="abstract" required></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn"> <i class="icon-remove icon-black"></i> Cancel</a>
            <button type="submit" class="btn btn-success"> <i class="icon-check icon-white"></i> Save changes</button>
        </div>
        <input type="text" value="@slot.id" id="slot" style="display: none" name="slot" />
        <input type="text" value="@track.id" id="track" style="display: none" name="track" />
    }
</div>