@import "bootstrap/bootstrap.less";
@import "colors.less";
@import "constants.less";
@import "textresources.less";

body {
  background-color: @background;
  padding: 30px;
}

.menu {
  color: white;
  padding: 5px;
  line-height: 10px;
}

.headline {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: @smallGap;
}

.trackOneHeadline {
  .headline;
  color: @trackOneColor;
}

.trackTwoHeadline {
  .headline;
  color: @trackTwoColor;
}

.trackThreeHeadline {
  .headline;
  color: @trackThreeColor;
}

.shadow {
  -moz-box-shadow: 2px 2px 10px #ddd;
  -webkit-box-shadow: 2px 2px 10px #ddd;
  box-shadow: 2px 2px 10px #ddd;
}

.track {
  .shadow;
  background-color: white;
  color: @darkGray;
  min-height: 150px !important;
  padding: @mediumGap;
  font-size: 1.2em;
  border-radius: 0px;
  margin-bottom: @largeGap;
  border: 1px solid #ddd;
  border-top: 1px solid #fbfbfb;
  font-family: "ronnia-condensed-1","ronnia-condensed-2", sans-serif;
}

.trackBg {
  background-image:  url(../images/trackbg.png);
  background-repeat: repeat-y;
  background-position: 50%;
}

.trackEndBg {
  background-image:  url(../images/trackend.png);
  background-repeat: repeat-y;
  background-position: 50%;
  height: 75px;
}

.trackOne {
  .track;
}

.trackTwo {
  .track;
}

.trackThree {
  .track;
}

.trackKeynote {
  .track;
  min-height: 40px !important;
}

.break {
  .shadow;
  .text-center;

  &:before {
    content: @break;
  }

  font-size: 1.2em;
  text-transform: uppercase;
  padding: @mediumGap;
  background-color: @breakBg;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  min-height: 20px !important;
  margin-bottom: @largeGap;
}

.row-fluid {
  width: 1400px;
}