@import "bootstrap/bootstrap.less";
@import "colors.less";
@import "constants.less";
@import "textresources.less";
@import "tracks.less";
@import "presentations";
@import "responsive";

body {
  background-color: @background;
  padding: 15px;
  font-size: 1.05em;
}

.menu {
  color: white;
  padding: 5px;
  line-height: 10px;
}

.shadow {
  -moz-box-shadow: 2px 2px 10px #ccc;
  -webkit-box-shadow: 2px 2px 10px #ccc;
  box-shadow: 2px 2px 10px #ccc;
}

.time {
  color: lighten(@breakBg, 30%);
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-weight: bold;
  margin-bottom: @smallGap;
}

.break {
  .shadow;
  .text-center;

  &:before {
    content: @break;
  }

  font-size: 1.2em;
  text-transform: uppercase;
  padding: @mediumGap;
  background-color: @breakBg;
  color: white;
  font-weight: bold;
  border-radius: 0px;
  min-height: 20px !important;
  margin-bottom: @smallGap;
}

.addSlot {
  .presentation;
  margin-bottom: 0px;
  border-radius: 5px;
  border: 3px dashed darken(@addSlotColor, 30%);
  background-color: @addSlotColor;
}

.newSlot {
  .addSlot;
  border: 3px solid darken(@addSlotColor, 60%);
  margin-bottom: @largeGap;
}

.rotate {
  .presentation;
  .text-center;
  color: #00a0d7;
}

.rotateIcon {
  height: 300px;
  background-image: url(../images/rotate.png);
  background-repeat: no-repeat;
  background-position: center center;
}
