.presentation {
  .shadow;
  background-color: white;
  color: @mediumGray;
  padding: @mediumGap;
  font-size: 1.2em;
  border-radius: 0px;
  margin-bottom: @largeGap;
  border: 1px solid #ccc;
  border-top: 1px solid #eee;
  border-top-width: 2px;
  border-bottom-width: 4px;
  font-family: "ronnia-condensed-1","ronnia-condensed-2", sans-serif;
}

.addPresentation {
  .presentation;
  border-radius: 5px;
  border: 3px dashed darken(@addSlotColor, 30%);
  background-color: @addSlotColor;
}

.keynoteTrack1 {
  color: @trackOneColor !important;
}

.keynoteTrack2 {
  color: @trackTwoColor !important;
}

.keynoteTrack3 {
  color: @trackThreeColor !important;
}

.trackColor1 {
  border-top-color: lighten(@trackOneColor, 15%);
  border-bottom-color: @trackOneColor;
}

.trackColor2 {
  border-top-color: lighten(@trackTwoColor, 15%);
  border-bottom-color: @trackTwoColor;
}

.trackColor3 {
  border-top-color: lighten(@trackThreeColor, 10%);
  border-bottom-color: @trackThreeColor;
}

.businessUnit {
  font-style: italic;
  font-size: 0.85em;
}

.presenter {
  font-style: italic;
  font-size: 0.85em;
  margin-bottom: @smallGap;
}

.headline {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  color: @darkGray;
}

.editArea {
  margin-top: @smallGap;
  border-top: 1px solid #ccc;
  margin-left: -10px;
  margin-right: -10px;
  margin: @smallGap -10px 0xp -10px;
}

.editAreaInner {
  margin: 10px 10px 0px 10px;
}