.keynoteTrack1 {
  color: @trackOneColor !important;
}

.keynoteTrack2 {
  color: @trackTwoColor !important;
}

.keynoteTrack3 {
  color: @trackThreeColor !important;
}

.presenter {
  font-style: italic;
  font-size: 0.85em;
  margin-bottom: @smallGap;
}

.headline {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  color: @darkGray;
}