@(presentations: List[models.Presentation], admin: Boolean)

<!-- Render presentations, they're keynotes -->
@for(presentation <- presentations) {
<div class="trackKeynote">
    <div class="headline keynoteTrack@presentation.track.getRelativeRanking">
        @presentation.name
    </div>
    <div class="presenter">
        @presentation.presenter
    </div>
    @presentation.description
    <!-- Add edit buttons if user is admin -->
    @if(admin) {
        <div class="editArea">
            <div class="editAreaInner">
                <button class="btn-danger btn">
                        Delete
                </button>
                <button class="btn-success btn">
                        Edit
                </button>
            </div>
        </div>
    }
</div>
}